BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "sel[0]" BANK=0 PULLMODE=NONE ;
LOCATE COMP "sel[0]" SITE "140" ;
LOCATE COMP "sel[1]" SITE "141" ;
LOCATE COMP "sel[2]" SITE "142" ;
LOCATE COMP "ADCData[0]" SITE "120" ;
LOCATE COMP "ADCData[1]" SITE "119" ;
LOCATE COMP "ADCData[2]" SITE "122" ;
LOCATE COMP "ADCData[3]" SITE "121" ;
LOCATE COMP "ADCData[4]" SITE "126" ;
LOCATE COMP "ADCData[5]" SITE "125" ;
LOCATE COMP "ADCData[6]" SITE "128" ;
LOCATE COMP "ADCData[7]" SITE "127" ;
LOCATE COMP "WR_n" SITE "133" ;
LOCATE COMP "RD_n" SITE "132" ;
LOCATE COMP "CS_n" SITE "138" ;
IOBUF PORT "ADCData[0]" PULLMODE=NONE DRIVE=NA ;
IOBUF PORT "ADCData[1]" PULLMODE=NONE ;
IOBUF PORT "ADCData[2]" PULLMODE=NONE ;
IOBUF PORT "ADCData[3]" PULLMODE=NONE ;
IOBUF PORT "ADCData[4]" PULLMODE=NONE ;
IOBUF PORT "ADCData[5]" PULLMODE=NONE ;
IOBUF PORT "ADCData[6]" PULLMODE=NONE ;
IOBUF PORT "ADCData[7]" PULLMODE=NONE ;
IOBUF PORT "reset_n" PULLMODE=UP ;
IOBUF PORT "sel[2]" PULLMODE=NONE ;
IOBUF PORT "CS_n" PULLMODE=NONE ;
IOBUF PORT "RD_n" PULLMODE=NONE ;
IOBUF PORT "WR_n" PULLMODE=NONE ;
IOBUF PORT "segments[0]" PULLMODE=NONE ;
IOBUF PORT "segments[1]" PULLMODE=NONE ;
IOBUF PORT "segments[2]" PULLMODE=NONE ;
IOBUF PORT "segments[3]" PULLMODE=NONE ;
IOBUF PORT "segments[4]" PULLMODE=NONE ;
IOBUF PORT "segments[5]" PULLMODE=NONE ;
IOBUF PORT "segments[6]" PULLMODE=NONE ;
IOBUF PORT "sel[1]" PULLMODE=NONE ;
LOCATE COMP "segments[6]" SITE "109" ;
LOCATE COMP "segments[5]" SITE "110" ;
LOCATE COMP "segments[4]" SITE "111" ;
LOCATE COMP "segments[3]" SITE "112" ;
LOCATE COMP "segments[2]" SITE "113" ;
LOCATE COMP "segments[1]" SITE "114" ;
LOCATE COMP "segments[0]" SITE "115" ;
LOCATE COMP "digit" SITE "117" ;
