BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "A" SITE "1" ;
LOCATE COMP "B" SITE "2" ;
LOCATE COMP "C" SITE "3" ;
LOCATE COMP "Le" SITE "140" ;
LOCATE COMP "Ld" SITE "141" ;
LOCATE COMP "Rd" SITE "142" ;
LOCATE COMP "Re" SITE "143" ;
LOCATE COMP "AnalogLDir" SITE "13" ;
LOCATE COMP "AnalogRDir" SITE "14" ;
LOCATE COMP "Rdir" SITE "119" ;
LOCATE COMP "Ren" SITE "120" ;
LOCATE COMP "Len" SITE "117" ;
LOCATE COMP "Ldir" SITE "115" ;
IOBUF PORT "A" PULLMODE=UP ;
IOBUF PORT "AnalogLDir" PULLMODE=NONE ;
IOBUF PORT "AnalogRDir" PULLMODE=NONE ;
IOBUF PORT "B" PULLMODE=UP ;
IOBUF PORT "C" PULLMODE=UP ;
IOBUF PORT "Ldir" PULLMODE=NONE ;
IOBUF PORT "Len" PULLMODE=NONE ;
IOBUF PORT "Rdir" PULLMODE=NONE ;
IOBUF PORT "Ren" PULLMODE=NONE ;
