BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "A" SITE "11" ;
LOCATE COMP "B" SITE "12" ;
LOCATE COMP "C" SITE "13" ;
LOCATE COMP "D" SITE "14" ;
LOCATE COMP "SegA" SITE "109" ;
LOCATE COMP "SegB" SITE "111" ;
LOCATE COMP "SegC" SITE "113" ;
LOCATE COMP "SegD" SITE "115" ;
LOCATE COMP "SegE" SITE "119" ;
LOCATE COMP "SegF" SITE "121" ;
LOCATE COMP "SegG" SITE "125" ;
IOBUF PORT "A" PULLMODE=UP ;
IOBUF PORT "B" PULLMODE=UP ;
IOBUF PORT "C" PULLMODE=UP ;
IOBUF PORT "D" PULLMODE=UP ;
IOBUF PORT "SegA" PULLMODE=NONE ;
IOBUF PORT "SegB" PULLMODE=NONE ;
IOBUF PORT "SegC" PULLMODE=NONE ;
IOBUF PORT "SegD" PULLMODE=NONE ;
IOBUF PORT "SegE" PULLMODE=NONE ;
IOBUF PORT "SegF" PULLMODE=NONE ;
IOBUF PORT "SegG" PULLMODE=NONE ;
LOCATE COMP "LED" SITE "107" ;
IOBUF PORT "LED" PULLMODE=NONE ;
