BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "A" PULLMODE=UP ;
IOBUF PORT "B" PULLMODE=UP ;
IOBUF PORT "C" PULLMODE=UP ;
IOBUF PORT "Ld" PULLMODE=UP ;
IOBUF PORT "Le" PULLMODE=UP ;
IOBUF PORT "Rd" PULLMODE=UP ;
IOBUF PORT "Re" PULLMODE=UP ;
LOCATE COMP "A" SITE "1" ;
LOCATE COMP "B" SITE "2" ;
LOCATE COMP "C" SITE "3" ;
LOCATE COMP "Ld" SITE "4" ;
LOCATE COMP "Le" SITE "5" ;
LOCATE COMP "Rd" SITE "6" ;
LOCATE COMP "Re" SITE "12" ;
